body {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #1e1e1e;
  border: 1px solid #333;
}

.dark-mode .form-select,
.dark-mode .form-control {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #555;
}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #0056b3;
}

.dark-mode .btn-primary:disabled {
  background-color: #0056b3;
  border-color: #003f7f;
}